/*-------------------
  Hero Banner Styles
---------------------*/
.hero-style-19 {
    position: relative;
    .banner-content {
        width: 580px;
        padding: 237px 0;
        @media (max-width:1400px) {
            padding: 140px 0; 
        }
        @media #{$smlg-device} {
            width: 100% !important;
        }
        @media #{$md-layout-1} {
            padding: 90px 0;
            margin-bottom: 0;
        }
        .pre-title {
            font-size: 16px;
            font-weight: var(--p-semi-bold);
            text-transform: uppercase;
            letter-spacing: 3px;
            display: block;
            padding-bottom: 18px;
        }
        .title {
            margin-left: -3px;
        }
        .banner-search {
            .input-group {
                width: 540px;
                box-shadow: var(--shadow-darker3);
                border: none;
                border-radius: 4px;
                @media #{$smlg-device} {
                    width: 100%;
                }

                .search-btn {
                    border: none;
                    background-color: transparent;
                    font-size: 20px;
                    color: var(--color-heading);
                    padding: 0 20px;
                    transition: var(--transition);
                }
            }
        }
        .shape-group {
            @media (max-width:1400px) {
                display: none;
            }
            li {
                &.shape-2 {
                    right: -230px;
                    top: 54px;
                }
                &.shape-3 {   
                    right: -117px;
                    top: 29px;
                }
                &.shape-4 {
                    left: -237px;
                    bottom: -40px;
                }
                &.shape-5 {
                    left: -143px;
                    bottom: 60px;
                }
                &.shape-6 {
                    right: 76px;
                    bottom: 110px;
                }
            }
        } 
    }
    .banner-thumbnail {
        margin-right: -366px;
        margin-top: -187px;
        position: relative;
        @media #{$custom-laptop-device} {
            margin-right: -106px;
            margin-top: 0;
        }
        @media #{$md-layout-1} {
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-top: 0 !important;
        }

        .video-box {
            position: absolute;
            left: 25px;
            bottom: -65px;
            @media #{$smlg-device} {
                left: 30px;
            }
            @media #{$md-layout-1} {
                left: 0;
                bottom: 0;
            }
            @media #{$sm-layout} {
                display: none !important;
            }

            .inner {
                background-color: var(--color-white);
                padding: 30px 30px 40px 30px;
                border-radius: 5px;
                box-shadow: 0px 20px 90px rgba(0, 0, 0, 0.15);
                .title-box {
                    display: flex;
                    justify-content: space-between;
                    .video-title {
                        font-family: var(--font-secondary);
                        font-weight: var(--p-bold);
                        font-size: 18px;
                        line-height: 28px;
                        color: var(--color-heading);
                        margin-bottom: 20px;
                        display: block;
                    }
                    ul {
                        list-style: none;
                        margin-top: 16px;
                        padding-left: 0;
                        margin-bottom: 0;
                        .dot {
                            width: 4px;
                            height: 4px;
                            background-color: var(--color-body);
                            border-radius: 10px;
                            margin: 2px 0;
                        }
                    }
                }
                .thumb {
                    position: relative;
                    text-align: center;

                    .popup-icon {
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        right: 0;
                        transform: translateY(-50%);
                        margin: 0 auto;
                        height: 60px;
                        width: 60px;
                        line-height: 62px;
                        background-color: var(--color-white);
                        border-radius: 50%;
                        color: var(--color-secondary);
                        font-size: 18px;
                        &:hover {
                            color: var(--color-white);
                            background-color: var(--color-secondary);
                        }
                    }
                }
                .participant-box {
                    .participant-title {
                        display: flex;
                        justify-content: space-between;
                        list-style: none;
                        padding-left: 0;
                        margin-bottom: 5px;
                        margin-top: 10px;
                        li {
                            font-family: var(--font-primary);
                            font-weight: var(--p-regular);
                            font-size: var(--font-size-b1);
                            line-height: 24px;
                            color: var(--color-heading);
                        }
                    }
                }
            }
        }
    }
    .social-wrapper {
        display: flex;
        list-style: none;
        position: absolute;
        left: -96px;
        bottom: 43;
        padding-left: 0;
        transform: rotate(270deg);
        @media (max-width:1350px) {
            display: none;
        }

        .social-wrap {
            font-size: 17px;
            font-weight: var(--p-semi-bold);
            font-family: var(--font-secondary);
            padding: 0 15px;
            position: relative;
            transition: all 0.5s ease-in-out;

            &::after {
                content: "";
                position: absolute;
                right: -2px;
                top: 50%;
                width: 7px;
                height: 2px;
                background: linear-gradient(256deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%);
                transition: all 0.5s ease-in-out;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            a {
                background: linear-gradient(256deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                transition: all 0.5s ease-in-out;
            }
            &:hover {
                &::after {
                    background: linear-gradient(90deg, #1AB69D 0.44%, #31B978 26.25%);
                }
                a {
                    background: linear-gradient(90deg, #1AB69D 0.44%, #31B978 26.25%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
        }
    }
    .shape-group {
        li {
            &.shape-1 {
                left: -110px;
                top: -90px;
            }
        }
    }
}